<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="../style/font-awesome.css">
  <style>
    #fistbox{
        width: 58%;
        height: 60px;
        background-color:rgb(231, 200, 156);
        font-size: 15px;
        float: left;
        justify-content: center;
    }
    #fistbox p{
    margin-left:8%;
    }
     img{
        width: 40%;
        height: 60px;
        
        margin-right: 2%;
        float: right;
    
    }
    #secondbox{
        clear: both;
        float: left;
        display: flex;
    
    
    }
    #secondbox img{
    margin-left: 0px;
    margin-top: 30px;
    width: 40%;
    height: 50%;
    
    
    }
    #search{
        margin-left: 10px;
        width:200%;
        height: 30px;
        margin-top: 30px;
        border-radius: 50px;
        clear: both;
    }
    
    #navbar{
        background-color: black;
        
        width: 100%;
        height: 50px;
        clear: both;
        margin-top: 20px;
        display: flex;
        color: white;
       
    }
    #navbar p{
        margin-left: 80px;
    }
    #navbar a{
        color: white;
        text-decoration: none;
    }
    #margin{
        clear: both;
        
        width: 100%;
        height: 10px;
    }
    #thirdbox{
        
        width: 80%;
        height: 100px;
        display: flex;
        margin-left: 80px;
    }
    #thirdbox img{
        margin-left: 100px;
        width: 100%;
        height: 500px;
        display: flex;
    }
    #container{
       margin-top: 550px;
       margin-left:750px;
        background-color: #ffffff;
        width: 80%;
        height: 150px;
        position: static;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    }
    #container img{
    width: 120px;
    height: 100px;
    float: left;
    
    }
    #fivebox{
        width: 100%;
        height: 300px;
        margin-right: 100px;
        clear: unset;
        display: flex;
        float: left;
    
    }
    #fivebox img{
        margin-left: 50px;
        width: 40%;
        height: 150px;
        display: flex;
    
    }
    #image-container{
    display: flex;
    
    }
    #image-container p{
        clear: both;
        
        }
        #containe{
            margin-top: 350px;
            margin-left:750px;
             background-color: #ffffff;
             width: 80%;
             height: 150px;
             position: static;
             transform: translate(-50%,-50%);
             left: 50%;
             top: 50%;
             border-radius: 5px;
             padding: 20px;
             box-shadow: 0 15px 30px rgba(0,0,0,0.3);
         }
         #containe img{
         width: 120px;
         height: 100px;
         float: left;
         
         }
         #footer{
           width: 100%;
           background-color: black;
           height: 900px;
           display:block;
         }
         #f{
          display: flex;
          float: left;
        }

        #ft1{
          margin-top: 10px;
       
          clear: both;
          float: left;
          color: white;
          line-height: -0px;
          margin-left: 10px;
          display: flex;
          
        }
        #ft1 img{
          margin-left: 150px;
          width:10%;
          margin-right: 15px;
          height: 30px;
          margin-top: 15px;
        }
        #ft1r{
          float: right;
        }
       
        #line{
          height: 0.12px;
          width: 78%;
          background-color: rgb(235, 217, 217);
          display: block;
          float: left;
          margin-left: 10%;
          margin-top: 50px;
        }
        #about{
          display: block;
          color: white;
          display: block;
         float: left;
         margin-left: 100px;
         margin-top: 40px;
        }
        #footerb {
          float: right;
          margin-right: 100px;
          margin-top: 10px;
          display: flex;
          color:wheat;


        }
        #footerb img{
          width: 50px;
          height: 50px;
          display: flex;
          margin: 30px;
        }
    
    </style>
  </head>
<body>
  <div>
   <div id="fistbox">
    <p>Get 4x points on foundation with code 4XPOINTS.* Plus, free shipping with code FREESHIP</p>
   
   </div>
   
  <img src="https://www.sephora.com/contentimages/homepage/101221/Homepage/DesktopMweb/2021-10-25-hp-persistent-banner-foundation-mbc-4x-points-us-ca-desktop-slice.jpeg?imwidth=612">
</div>
<div>
<div id="secondbox">
  <div>
  <a href="home"><img src="https://www.sephora.com/img/ufe/logo.svg"></a>
  
</div>
<div id="sec"><input type="text" id="search" >

 
</div>

  </div>
  </div>
  <div id="margin"></div>
  <div id="navbar">
   <a> <p>New</p></a>
    <a><p>Back ground</p></a>
    <a href="/makeup"><p>Makeup</p></a>
    <a href="makeup.html"><p>Skincare</p></a>
    <a><p>Hair</p></a>
    <a><p>Tools&Brushes</p></a>
  <a> <p>Bath&body</p></a>
  <a><p>Mini size</p></a>
  <a> <p>Gifts</p></a>
  <a href="/cart"><p>Cart</p></a>
  </div>
  <div id="thirdbox">
   <img src="https://logan.nnnow.com/content/dam/nnnow-project/28-oct-2021-/SCFallBannerRefreshDesktop.jpg">
  </div>
  
<div id="container">
  <div class="image-container">
    <div><img src="https://www.sephora.com/productimages/sku/s2491413-main-zoom.jpg?imwidth=135&pb=clean-planet-positive-badge-2021&imwidth=97" id="content1" class="active">

    </div>
    
    <div><img src="https://www.sephora.com/productimages/sku/s2469807-main-zoom.jpg?imwidth=135&imwidth=97" id="content2"></div>
    <div> <img src="https://www.sephora.com/productimages/sku/s2472504-main-zoom.jpg?imwidth=135&imwidth=97" id="content3"></div>
   
    <div><img src="https://www.sephora.com/productimages/sku/s2504405-main-zoom.jpg?imwidth=135&imwidth=97" id="content4"></div>
    <div><img src="https://www.sephora.com/productimages/sku/s2490399-main-zoom.jpg?imwidth=135&imwidth=97"></div>
 <div><img src="https://www.sephora.com/productimages/sku/s2473452-main-zoom.jpg?imwidth=135&imwidth=97"></div>
<div>
  <img src="https://www.sephora.com/productimages/sku/s2482503-main-zoom.jpg?imwidth=135&imwidth=97">
</div> 
<div>
  <img src="https://www.sephora.com/productimages/sku/s2475671-main-zoom.jpg?imwidth=135&pb=2020-03-sephora-clean-2019&imwidth=97">
</div> 

</div>
</div>
<div id="margin"></div>
<div id="fivebox">
  <img src="https://www.sephora.com/contentimages/homepage/012120/Homepage/DesktopMweb/2020-01-27-hp-beauty-offer-generic-urgency-us-ca-d-slice.jpg?imwidth=482">
<img src="https://www.sephora.com/contentimages/homepage/101221/Homepage/DesktopMweb/2021-10-13-hp-bottom-evergreen-banner-conv-hub-same-day-desktop-us-ca-slice.jpeg?imwidth=980"> 
</div>
<div id="containe">
  <div class="image-containe">
    <div><img src="https://www.sephora.com/productimages/sku/s2473510-main-zoom.jpg?imwidth=135&pb=2020-03-sephora-clean-2019&imwidth=97" id="content1" class="active">

    </div>
    
    <div><img src="https://www.sephora.com/productimages/sku/s1221084-main-zoom.jpg?imwidth=135&imwidth=97" id="content2"></div>
    <div> <img src="https://www.sephora.com/productimages/sku/s2283034-main-zoom.jpg?imwidth=135&pb=2020-03-sephora-clean-2019&imwidth=97" id="content3"></div>
   
    <div><img src="https://www.sephora.com/productimages/sku/s2504405-main-zoom.jpg?imwidth=135&imwidth=97" id="content4"></div>
    <div><img src="https://www.sephora.com/productimages/sku/s2530244-main-zoom.jpg?imwidth=135"></div>
 <div><img src="https://www.sephora.com/productimages/sku/s2473452-main-zoom.jpg?imwidth=135&imwidth=97"></div>
<div>
  <img src="https://www.sephora.com/productimages/sku/s2325462-main-zoom.jpg?imwidth=135">
</div> 
<div>
  <img src="https://www.sephora.com/productimages/sku/s2475671-main-zoom.jpg?imwidth=135&pb=2020-03-sephora-clean-2019&imwidth=97">
</div> 

</div>
</div>
<div id="fivebox">
  <img src="https://www.sephora.com/contentimages/homepage/102621/Homepage/DesktopMWEB/2021-11-5-hp-beauty-offers-bi-holiday-savings-sephora-collection-desktop-us-ca-slice.jpeg?imwidth=482">
<img src="https://www.sephora.com/contentimages/homepage/102621/Homepage/DesktopMWEB/2021-11-7-hp-marketing-banner-world-of-dior-us-ca-desktop-slice.jpeg?imwidth=482"> 
</div>
<div id="containe">
  <div class="image-containe">
    <div><img src="https://www.sephora.com/productimages/sku/s2501088-main-zoom.jpg?imwidth=135&pb=2020-03-sephora-clean-2019&imwidth=97" id="content1" class="active">

    </div>
    
    <div><img src="https://www.sephora.com/productimages/sku/s2407344-main-zoom.jpg?imwidth=135&imwidth=97" id="content2"></div>
    <div> <img src="https://www.sephora.com/productimages/sku/s2180941-main-zoom.jpg?imwidth=135&pb=2020-03-allure-clean-2019&imwidth=97" id="content3"></div>
   
    <div><img src="https://www.sephora.com/productimages/sku/s2283679-main-zoom.jpg?imwidth=135&pb=clean-planet-positive-badge-2021&imwidth=97" id="content4"></div>
    <div><img src="https://www.sephora.com/productimages/sku/s2530244-main-zoom.jpg?imwidth=135"></div>
 <div><img src="https://www.sephora.com/productimages/sku/s2473452-main-zoom.jpg?imwidth=135&imwidth=97"></div>
<div>
  <img src="https://www.sephora.com/productimages/sku/s2325462-main-zoom.jpg?imwidth=135">
</div> 
<div>
  <img src="https://www.sephora.com/productimages/sku/s2475671-main-zoom.jpg?imwidth=135&pb=2020-03-sephora-clean-2019&imwidth=97">
</div> 

</div>
</div>
<footer id="footer">
  <div id="f">
<div id="ft1">
  <img src="https://www.sephora.com/img/ufe/icons/find-store.svg">
  <div id="ft1r"><h5>Find a store</h5>
    <p4>chose your store</p4></div>
</div>
<div id="ft1">
  <img src="https://www.sephora.com/img/ufe/icons/call.svg">
  <div id="ft1r"><h5>jaswanth</h5>
    <p4>7306711116</p4></div>
</div>

<div id="ft1">
  <img src="https://www.sephora.com/img/ufe/icons/app.svg">
  <div id="ft1r"><h5>Get the app</h5>
    <p4>call to 43</p4></div>
</div>
<div id="ft1">
  <img src="https://www.sephora.com/img/ufe/icons/cc-outline-ko.svg">
  <div id="ft1r"><h5>Credit card </h5>
    <p4>15% Off</p4></div>
</div>
</div>
<div id="line"></div>
<div id="about"><h4>About Sephora</h4>
<p>About Sephora</p>
<p>Carers</p>
<p>Newsroom</p>
<p>Sephora Socal impact</p>
<p>Affliates</p>
<p>Sephora Events</p>
<p>Gift Cards</p>
<p>Sephora Gobal Site</p>
<p>Diversite And Inclusion</p>
<p>Check Out In Instragram</p>
<p>Sephora Accelatate</p>
<p>Report  Vulnerablity</p></div>
<div id="about"><h4> Sephora</h4>
  <p>Beuaty inside</p>
  <p>Sephora Credit card</p>
  <p>Community Profile</p>
  <p>Purchase History</p>
  <p>Account Detils</p>
  <p>Bueaty Advise</p>
  <p>Bueaty Offer</p>
  <p>Quizzes & Buying</p>
  <p>Reward Bazzer</p>
  <p>Lovers</p>
  <p>Book  Reservation</p>
  </div>
  <div id="about"><h4> Help</h4>
    <p>Custmor Service</p>
    <p>reetun and exchange</p>
    <p>Delivery options</p>
    <p>Shipping</p>
    <p>Billing</p>
    <p>International shippment</p>
    <p>Bueaty Service FAC</p>
    <p>Quizzes & Buying</p>
    <p>sephora at kohi'l</p>
    <p>online order</p>
    <p>kalma</p>
    </div>
    <div id="about">
      <h4> REGION & LANGUAGE</h4>
      <p>United state - eng</p>
      <p>canada -eng</p>
      
      </div>
      <div id="line"></div>
      <div id="footerb">
<img src="https://www.sephora.com/img/ufe/icons/instagram-ko.svg">
<img src="https://www.sephora.com/img/ufe/icons/facebook-ko.svg">
<img src="https://www.sephora.com/img/ufe/icons/twitter-ko.svg">
<img src="https://www.sephora.com/img/ufe/icons/youtube-ko.svg">
      </div>
      
</footer>

</body>

</html>
